{
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "rules": {
    "strict": "warn"
  },
  "env": {
    "browser": true,
    "node": true
  },
  "extends": ["eslint:recommended", "plugin:react/recommended"]
}